In [2]:
#importando pandas
import pandas as pd

In [4]:
#abrindo arquivo Excel
df = pd.read_excel("Dados Excel.xlsx")

In [9]:
#Especificando qual aba abrir
# 0 = primeira página do excel;
# 1 = segunda página do excel; 
# Pode passa o nome da aba ex:"Aba2" como parâmetro;
df = pd.read_excel("Dados Excel.xlsx", sheet_name = 1)

In [12]:
#verificando os nomes das abas com sheet_names
arquivo_excel = pd.ExcelFile("Dados Excel.xlsx")

In [13]:
#mostra no nome das abas do arquivo excel
arquivo_excel.sheet_names

['Plan1', 'Aba2']

In [14]:
#usando PARSE para selcionar as abas
aba1 = arquivo_excel.parse("Plan1")
aba2 = arquivo_excel.parse("Aba2")

In [16]:
aba2.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000

In [10]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000

In [11]:
df.shape

(2, 9)